* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    text-align: left;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: #ff0080;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding-top: 20px;
    font-size: 14px;
    color: #333;
}
